

$base: #44465c;
$blue: #3fc6de;
$surface0: #44465c;
$surface1: #44465c;
$text: #d9e0ee;
$overlay0: #6e738d;
$red: #ec6a88;
$peach: #efb993;
$yellow: #efb993;
$mauve: #b072d1;
$green: #3fdaa4;
$mantle: #292a37;
$crust: #2e303e;
* {
  all: unset; //Unsets everything so you can style everything from scratch
  font-family: "JetBrainsMono"
}
.icon {
  font-family: monospace;
  font-size: 1.4rem;
}

.active {
    color: $green;
    font-size: 1.4rem;
}

.inactive {
    color: $base;
    font-size: 1.4rem;
}

.bar {
  background-color: $mantle;
  padding: 0.6rem 0;
  border: 4px solid $base;
  margin: 4px;
}

.wifi {
  font-size: 2rem;
  color: $blue;
}

.clock {
  font-weight: bold;
  background-color: $base;
  color: $text;
  border-radius: 10px;
  padding: 0.2rem;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.cpubar {
  color: $blue;
  background-color: $surface1;
  border-radius: 10px;
}

.diskbar {
  color: $green;
  background-color: $surface1;
  border-radius: 10px;
}
.membar {
  color: $yellow;
  background-color: $surface1;
  border-radius: 10px;
}
.system-status {
  background-color: $base;
  padding: 0.5rem;
  border-radius: 10px;

}
.iconmem {
  color: $base;
  font-size: 2.5rem;
}
.workspace-focused {
  color: $blue;
}
.workspace-empty {
  color: $overlay0;
}
.workspace-occupied {
  color: $text;
}
.date {
  font-size: 1.5rem;
}
.button-off { color: $red; font-size: 2rem;}
.nixos {
  font-size: 2.25rem;
  color: $base;
  background-color: $blue;
  margin: 8px 4px 0 4px;
  padding: 0px 8px;
  border-radius: 10px;
}
.battery {
  font-size: 1.5rem;
  color: $blue;
}

.volume-spacer, .menu-spacer {
  transition: all 400ms cubic-bezier(.1,-0.00,.0,1.49);
}

.volume-widget {
  background-color: $mantle;
  border: 4px solid $surface0;
  border-radius: 2px;
  padding: 0 2rem;
}

.volume-icon {
  font-size: 3rem;
  margin-right: 1rem;
}

.volume-icon-muted {
  color: $red;
}

.volume-slider {
  background-color: $surface0;
  border-radius: 10px;
  margin: 2rem 0px 2rem;
  contents {
    trough {
      // padding-top: 3px;
      border-radius:8px;
      slider {
        background: transparent;
        min-height: 12px;
        border-radius:8px;
      }
      highlight {
        background: $blue;
        padding: 3px;
        border-radius:8px;
      }
    }
  }
}

.volume-slider-muted {
  background-color: $surface0;
  contents {
    trough {
      highlight {
        background: $surface1;
      }
    }
  }
}


// Credits AlphaTechnolog

.powermenu-box {
  padding: 0 2px;
  margin: 7px 7px 7px 0px;
  background: inherit;
  .dispatcher {
    border-radius: 15px;
    background: $base;
    color: $red;
    font-size: 14px;
    padding: 0 14px 0 10px;
    &:hover { background-color: $surface0; }
    &:active { background-color: $surface1; }
  }
}

// powermenu
.powermenu-container {
  background: $crust;
  color: $text;
  padding: 10px;
  font-size: 55px;

  transition: all 200ms cubic-bezier(.1,-0.00,.0,1.49);

  .btn { margin: 1rem;}
  // shutdown
  .shutdown-btn-box .btn {
    color: $red;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // reboot
  .reboot-btn-box .btn {
    color: $mauve;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
  // exit
  .exit-btn-box .btn {
    color: $yellow;
    border-radius: 15px;
    background-color: $mantle;
    &:hover { background-color: $base; }
    &:active { background-color: $surface1; }
  }
}
