// Variable Color's
$background: #303241;
$foreground: #e3e6ee;

$black: #393a4d;
$gray: #303241;
$red: #ec6a88;
$green: #3fdaa4;
$yellow: #efb993;
$blue: #3fc6de;
$magenta: #b771dc;
$cyan: #6be6e6;
$white: $foreground;

* {
  all: unset; //Unsets everything so you can style everything from scratch
  border-radius: 8px;
  font-family: "JetBrainsMono"
}

.bar{
    background-color: $background;
    padding: 0 0.6rem;
}

scale trough highlight {
    all: unset;
    background-color: $black;
    min-height: 10px;
    min-width: 16px;
    border-radius: 8px;
}

scale trough {
    all: unset;
    background-color: $black;
    border-radius: 8px;
    min-height: 10px;
    min-width: 80px;
    margin: 0.6rem;
}

.button-off { color: $blue}

.button-reb { 
    color: $magenta;
    margin: 0 0.6rem
}

.brightnessBar trough highlight {
    background-image: linear-gradient(
        90deg,
        hsl(24deg 75% 72%) 0%,
        hsl(30deg 75% 72%) 54%,
        hsl(36deg 76% 73%) 100%
    );
}

.brightnessLabel {
    color: $yellow;
}

.volumeBar trough highlight {
    background-image: linear-gradient(
        90deg,
        hsl(159deg 68% 55%) 0%,
        hsl(174deg 60% 54%) 56%,
        hsl(189deg 71% 56%) 100%
    );
}

.volumeLabel {
    color: $green;
}

.batteryBar trough highlight {
    background-image: linear-gradient(
        90deg,
        hsl(180deg 71% 66%) 0%,
        hsl(186deg 70% 59%) 56%,
        hsl(190deg 70% 50%) 100%
    );
}

.batteryLabel {
    color: $cyan;
}

.label {
    font-size: 2rem;
    margin: 0rem 0rem 0rem 0.6rem;
}

.cal { background-color: $background }
